@import "mixin";
@media only screen and (min-width: 1200px){
  div.about{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 110px;
    box-sizing: border-box;
    >h1{
      @include titlepage(1200px);
    }
    >p{
      @include textpage(1200px);
    }
    >div.profile{
      @include itempage();
      margin-top: 30px;
      >div.img{
        width: 30%;
        height: 355px;
        >img{
          @include usualimg();
        }
      }
      div.designer{
        width: 70%;
        padding-left: 30px;
        box-sizing: border-box;
        >h2{
          text-transform: capitalize;
          font-family: "0 Aria";
          color: gray;
        }
        >p{
          text-transform: capitalize;
          font-family: "Roboto Medium";
          font-style: italic;
          color: darkgrey;
          font-size: 18px;
        }
        >div.info{
          width: 100%;
          height: auto;
          display: flex;
          padding-top: 25px;
          >ul.left{
            width: 50%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
          ul.right{
            width: 50%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
        }
        >p.down{
          text-align: left;
          text-transform: capitalize;
          font-family: Roboto;
          color: darkgrey;
        }
      }
    }
  }
  div.skills{
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 100px;
    >h1{
      margin: 0 auto;
      width: 10%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.skillitem{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      >div.left{
        width: 48%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top: 5px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 75%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
      >div.right{
        width: 48%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top: 5px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 55%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
    }
  }
  div.facts{
    padding-right: 7.5%;
    padding-left: 7.5%;
    margin-bottom: 120px;
    >h1{
      margin: 0 auto;
      width:10%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.itemfacts{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      >div{

        >h1{
          text-align: center;
          font-size: 50px;
          color: #34B7A7;
          font-family: roboto-light;
          margin-bottom: 5px;
        }
        >h4{
          text-align: center;
          text-transform: capitalize;
          color: #3b3b3b;
          font-size: 20px;
        }
      }
    }
  }
  div.test{
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 75px;
    >h1{
      margin: 0 auto;
      width: 20%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    .swiper {
      width: 100%;
      height: 300px;
      position: relative;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      >h1{
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 135px;
        font-size: 24px;
      }
      >h3{
        position: absolute;
        top:165px ;
        text-align: center;
        text-transform: capitalize;
        color: #3b3b3b;
        font-size: 16px;
      }
      >p{
        position: absolute;
        top: 200px;
        text-align: center;
        text-transform: capitalize;
        font-family: Roboto;
        line-height: 25px;
      }
    }
    .swiper-slide img {
      display: block;
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
    div.circle{
      width: 100% !important;
      height: 10px ;
      position: absolute;
      z-index: 1000000000;
      bottom: 5px;
      display: flex;
      justify-content: center;
      >div{
        margin:  0 5px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        border:1px solid #34B7A7;
        &:nth-of-type(1){
          background-color: #34B7A7;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  div.about{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 110px;
    box-sizing: border-box;
    >h1{
      @include titlepage(992px);
    }
    >p{
      @include textpage(992px);
    }
    >div.profile{
      @include itempage();
      margin-top: 30px;
      >div.img{
        width: 30%;
        height: 355px;
        >img{
          @include usualimg();
        }
      }
      div.designer{
        width: 70%;
        padding-left: 30px;
        box-sizing: border-box;
        >h2{
          text-transform: capitalize;
          font-family: "0 Aria";
          color: gray;
        }
        >p{
          text-transform: capitalize;
          font-family: "Roboto Medium";
          font-style: italic;
          color: darkgrey;
          font-size: 18px;
        }
        >div.info{
          width: 100%;
          height: auto;
          display: flex;
          padding-top: 25px;
          >ul.left{
            width: 50%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
          ul.right{
            width: 50%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
        }
        >p.down{
          text-align: left;
          text-transform: capitalize;
          font-family: Roboto;
          color: darkgrey;
        }
      }
    }
  }
  div.skills{
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 100px;
    >h1{
      margin: 0 auto;
      width: 10%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.skillitem{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      >div.left{
        width: 48%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top: 5px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 75%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
      >div.right{
        width: 48%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top: 5px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 55%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
    }
  }
  div.facts{
    padding-right: 7.5%;
    padding-left: 7.5%;
    margin-bottom: 120px;
    >h1{
      margin: 0 auto;
      width:20%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.itemfacts{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      >div{

        >h1{
          text-align: center;
          font-size: 50px;
          color: #34B7A7;
          font-family: roboto-light;
          margin-bottom: 5px;
        }
        >h4{
          text-align: center;
          text-transform: capitalize;
          color: #3b3b3b;
          font-size: 20px;
        }
      }
    }
  }
  div.test{
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 75px;
    >h1{
      margin: 0 auto;
      width: 20%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    .swiper {
      width: 100%;
      height: 300px;
      position: relative;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      >h1{
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 135px;
        font-size: 24px;
      }
      >h3{
        position: absolute;
        top:165px ;
        text-align: center;
        text-transform: capitalize;
        color: #3b3b3b;
        font-size: 16px;
      }
      >p{
        position: absolute;
        top: 200px;
        text-align: center;
        text-transform: capitalize;
        font-family: Roboto;
        line-height: 25px;
      }
    }
    .swiper-slide img {
      display: block;
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
    div.circle{
      width: 100% !important;
      height: 10px ;
      position: absolute;
      z-index: 1000000000;
      bottom: 5px;
      display: flex;
      justify-content: center;
      >div{
        margin:  0 5px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        border:1px solid #34B7A7;
        &:nth-of-type(1){
          background-color: #34B7A7;
        }
      }
    }
  }
}
@media only screen and (min-width:768px) and (max-width: 992px){
  div.about{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 110px;
    box-sizing: border-box;
    >h1{
      @include titlepage(768px);
    }
    >p{
      @include textpage(768px);
    }
    >div.profile{
      @include itempage();
      margin-top: 30px;
      flex-wrap: wrap;
      >div.img{
        width: 100%;
        height:500px;
        margin-bottom: 25px;
        >img{
          @include usualimg();
        }
      }
      >div.designer{
        width: 100%;
        box-sizing: border-box;
        >h2{
          text-transform: capitalize;
          font-family: "0 Aria";
          color: gray;
        }
        >p{
          text-transform: capitalize;
          font-family: "Roboto Medium";
          font-style: italic;
          color: darkgrey;
          font-size: 18px;
        }
        >div.info{
          width: 100%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          padding-top: 25px;
          >ul.left{
            width: 100%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
          ul.right{
            margin-top: 10px;
            width: 100%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
        }
        >p.down{
          margin-top: 10px;
          text-align: left;
          text-transform: capitalize;
          font-family: Roboto;
          color: darkgrey;
        }
      }
    }
  }
  div.skills{
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 100px;
    >h1{
      margin: 0 auto;
      width: 10%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.skillitem{
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div.left{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top: 10px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 75%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
      >div.right{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top:10px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 55%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
    }
  }
  div.facts{
    padding-right: 7.5%;
    padding-left: 7.5%;
    margin-bottom: 120px;
    >h1{
      margin: 0 auto;
      width:20%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.itemfacts{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      >div{
        width: 40%;
        margin-top: 25px;
        >h1{
          text-align: center;
          font-size: 50px;
          color: #34B7A7;
          font-family: roboto-light;
          margin-bottom: 5px;
        }
        >h4{
          text-align: center;
          text-transform: capitalize;
          color: #3b3b3b;
          font-size: 20px;
        }
      }
    }
  }
  div.test{
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 75px;
    >h1{
      margin: 0 auto;
      width: 40%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    .swiper {
      width: 100%;
      height: 325px;
      position: relative;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      >h1{
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 135px;
        font-size: 24px;
      }
      >h3{
        position: absolute;
        top:165px ;
        text-align: center;
        text-transform: capitalize;
        color: #3b3b3b;
        font-size: 16px;
      }
      >p{
        position: absolute;
        top: 200px;
        text-align: center;
        text-transform: capitalize;
        font-family: Roboto;
        line-height: 25px;
      }
    }
    .swiper-slide img {
      display: block;
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
    div.circle{
      width: 100% !important;
      height: 10px ;
      position: absolute;
      z-index: 1000000000;
      bottom: 15px;
      display: flex;
      justify-content: center;
      >div{
        margin:  0 5px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        border:1px solid #34B7A7;
        &:nth-of-type(1){
          background-color: #34B7A7;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px){
  div.about{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 110px;
    box-sizing: border-box;
    >h1{
      @include titlepage(576px);
    }
    >p{
      @include textpage(576px);
    }
    >div.profile{
      @include itempage();
      margin-top: 30px;
      flex-wrap: wrap;
      >div.img{
        width: 100%;
        height:500px;
        margin-bottom: 25px;
        >img{
          @include usualimg();
        }
      }
      >div.designer{
        width: 100%;
        box-sizing: border-box;
        >h2{
          text-transform: capitalize;
          font-family: "0 Aria";
          color: gray;
        }
        >p{
          text-transform: capitalize;
          font-family: "Roboto Medium";
          font-style: italic;
          color: darkgrey;
          font-size: 18px;
        }
        >div.info{
          width: 100%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          padding-top: 25px;
          >ul.left{
            width: 100%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
          ul.right{
            margin-top: 10px;
            width: 100%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
        }
        >p.down{
          margin-top: 10px;
          text-align: left;
          text-transform: capitalize;
          font-family: Roboto;
          color: darkgrey;
        }
      }
    }
  }
  div.skills{
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 100px;
    >h1{
      margin: 0 auto;
      width: 10%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.skillitem{
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div.left{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top: 10px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 75%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
      >div.right{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top:10px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 55%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
    }
  }
  div.facts{
    padding-right: 7.5%;
    padding-left: 7.5%;
    margin-bottom: 120px;
    >h1{
      margin: 0 auto;
      width:20%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.itemfacts{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      >div{
        width: 40%;
        margin-top: 25px;
        >h1{
          text-align: center;
          font-size: 50px;
          color: #34B7A7;
          font-family: roboto-light;
          margin-bottom: 5px;
        }
        >h4{
          text-align: center;
          text-transform: capitalize;
          color: #3b3b3b;
          font-size: 20px;
        }
      }
    }
  }
  div.test{
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 75px;
    >h1{
      margin: 0 auto;
      width: 45%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    .swiper {
      width: 100%;
      height: 365px;
      position: relative;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      >h1{
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 135px;
        font-size: 24px;
      }
      >h3{
        position: absolute;
        top:165px ;
        text-align: center;
        text-transform: capitalize;
        color: #3b3b3b;
        font-size: 16px;
      }
      >p{
        position: absolute;
        top: 200px;
        text-align: center;
        text-transform: capitalize;
        font-family: Roboto;
        line-height: 25px;
      }
    }
    .swiper-slide img {
      display: block;
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
    div.circle{
      width: 100% !important;
      height: 10px ;
      position: absolute;
      z-index: 1000000000;
      bottom: 15px;
      display: flex;
      justify-content: center;
      >div{
        margin:  0 5px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        border:1px solid #34B7A7;
        &:nth-of-type(1){
          background-color: #34B7A7;
        }
      }
    }
  }
}
@media only screen and (max-width: 576px){
  div.about{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 110px;
    box-sizing: border-box;
    >h1{
      @include titlepage(100px);
    }
    >p{
      @include textpage(100px);
    }
    >div.profile{
      @include itempage();
      margin-top: 30px;
      flex-wrap: wrap;
      >div.img{
        width: 100%;
        height:500px;
        margin-bottom: 25px;
        >img{
          @include usualimg();
        }
      }
      >div.designer{
        width: 100%;
        box-sizing: border-box;
        >h2{
          text-transform: capitalize;
          font-family: "0 Aria";
          color: gray;
        }
        >p{
          text-transform: capitalize;
          font-family: "Roboto Medium";
          font-style: italic;
          color: darkgrey;
          font-size: 18px;
        }
        >div.info{
          width: 100%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          padding-top: 25px;
          >ul.left{
            width: 100%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
          ul.right{
            margin-top: 10px;
            width: 100%;
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: column;
            >li{
              width: 100%;
              height: 40px;
              text-transform: capitalize;
              color: black;
              font-size: 20px;
              font-weight: bold;
              >span{
                text-transform: capitalize;
                color: gray;
              }
            }
          }
        }
        >p.down{
          margin-top: 10px;
          text-align: left;
          text-transform: capitalize;
          font-family: Roboto;
          color: darkgrey;
        }
      }
    }
  }
  div.skills{
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 100px;
    >h1{
      margin: 0 auto;
      width: 10%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.skillitem{
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div.left{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top: 10px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 75%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
      >div.right{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >h4{
          width: 50%;
          text-align: left;
          margin-top:20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >h5{
          width: 50%;
          text-align: right;
          margin-top: 20px;
          text-transform: capitalize;
          color: #3b3b3b;
        }
        >div.html{
          width: 100%;
          height: 10px;
          background-color: gainsboro;
          margin-top:10px;
          position: relative;
          &:nth-of-type(2){
            >div.measure{
              width: 90%;
            }
          }
          &:nth-of-type(3){
            >div.measure{
              width: 55%;
            }
          }
          >div.measure{
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: inherit;
            z-index: 100;
            background-color: #34B7A7;
          }
        }
      }
    }
  }
  div.facts{
    padding-right: 7.5%;
    padding-left: 7.5%;
    margin-bottom: 100px;
    >h1{
      margin: 0 auto;
      width:20%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    >div.itemfacts{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      >div{
        width: 40%;
        margin-top: 25px;
        >h1{
          text-align: center;
          font-size: 50px;
          color: #34B7A7;
          font-family: roboto-light;
          margin-bottom: 5px;
        }
        >h4{
          text-align: center;
          text-transform: capitalize;
          color: #3b3b3b;
          font-size: 20px;
        }
      }
    }
  }
  div.test{
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 75px;
    >h1{
      margin: 0 auto;
      width: 45%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Medium";
      border-bottom: 3px solid #34B7A7;
      padding-bottom: 20px;
    }
    >p{
      margin-top: 20px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto Medium";
      color: #3b3b3b;
      margin-bottom: 40px;
    }
    .swiper {
      width: 100%;
      height: 400px;
      position: relative;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      >h1{
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 135px;
        font-size: 24px;
      }
      >h3{
        position: absolute;
        top:165px ;
        text-align: center;
        text-transform: capitalize;
        color: #3b3b3b;
        font-size: 16px;
      }
      >p{
        position: absolute;
        top: 200px;
        text-align: center;
        text-transform: capitalize;
        font-family: Roboto;
        line-height: 25px;
      }
    }
    .swiper-slide img {
      display: block;
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
    div.circle{
      width: 100% !important;
      height: 10px ;
      position: absolute;
      z-index: 1000000000;
      bottom: 15px;
      display: flex;
      justify-content: center;
      >div{
        margin:  0 5px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        border:1px solid #34B7A7;
        &:nth-of-type(1){
          background-color: #34B7A7;
        }
      }
    }
  }
}